<h1>{{item.displayName}}</h1>
<div class="recipes">
  {{#if recipes}}
    {{#each recipes}}
      <div class="recipe mb-4">
        <span class="input">
          {{#if ingredients}}
            {{#each ingredients}}
              <span>{{item.displayName}}</span>
              {{#if texture}}
                <img src="{{texture.texture}}" alt="{{texture.name}}" title="{{item.displayName}}" />
              {{/if}}
            {{/each}}
          {{/if}}

          {{#if inShape}}
            <table class="in-shape table table-bordered w-auto">
            {{#each inShape}}
              <tr class="in-shape-row">
                {{#each this}}
                  <td class="in-shape-col">
                    {{#if this}}
                      {{#if texture}}
                        <img src="{{texture.texture}}" alt="{{texture.name}}" title="{{item.displayName}}" />
                      {{/if}}
                    {{else}}
                      <span class="in-shape-empty"></span>
                    {{/if}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
            </table>
          {{/if}}
        </span>
        =&gt;
        <span class="output">
          <span>{{result.item.displayName}}</span> (<span>{{result.count}}</span>)
        </span>
      </div>
    {{/each}}
  {{/if}}
</div>